# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/
venv/

# Model files
models/*.pt

# Output files / logs
outputs/
*.log

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# IDE / Editor files
.vscode/
.idea/
*.swp

# Cache
*.cache

outputs/